<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Intrusion Detection</title>

  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
</head>
<style>
     body {
            background: rgb(255, 255, 255);
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .form-container {
            background: white;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
            width: 400px;
            text-align: center;
            max-height: 90vh;
            overflow-y: auto;
        }

        .form-container h2 {
            color: #444;
            margin-bottom: 20px;
        }

        .form-group {
            text-align: left;
            margin-bottom: 10px;
        }

        .form-control {
            border-radius: 8px;
            border: 1px solid #ccc;
            padding: 8px;
            width: 100%;
        }

        .btn-custom {
            background: #000000;
            color: white;
            padding: 10px;
            border-radius: 8px;
            border: none;
            width: 100%;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }

        .btn-custom:hover {
            background: #ffffff;
            color: black;
            border: #000000 1px solid;
        }

        #error-msg {
            color: red;
            font-size: 14px;
            margin-bottom: 10px;
        }

        .scrollable {
            max-height: 60vh;
            overflow-y: auto;
        }
</style>
<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="#">
            <span>
              Intrusion Detection
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login"> Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register"> Sign Up</a>
                </li>
              </ul>
              <div class="user_option">
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <center>
        <div class="form-container">
            <h2>Intrusion Detection System</h2>
            <form action="/predict_page" method="post" class="scrollable">
                <div class="form-group">
                    <label for="Dst Port">Dst Port:</label>
                    <input class="form-control" type="text" name="Dst Port" required>
                </div>
    
                <div class="form-group">
                    <label for="Protocol">Protocol:</label>
                    <input class="form-control" type="text" name="Protocol" required>
                </div>
    
                <div class="form-group">
                    <label for="Flow Duration">Flow Duration:</label>
                    <input class="form-control" type="text" name="Flow Duration" required>
                </div>
    
                <div class="form-group">
                    <label for="Tot Fwd Pkts">Total Forward Packets:</label>
                    <input class="form-control" type="text" name="Tot Fwd Pkts" required>
                </div>
    
                <div class="form-group">
                    <label for="Tot Bwd Pkts">Total Backward Packets:</label>
                    <input class="form-control" type="text" name="Tot Bwd Pkts" required>
                </div>
    
                <div class="form-group">
                    <label for="TotLen Fwd Pkts">Total Length Forward Packets:</label>
                    <input class="form-control" type="text" name="TotLen Fwd Pkts" required>
                </div>
    
                <div class="form-group">
                    <label for="TotLen Bwd Pkts">Total Length Backward Packets:</label>
                    <input class="form-control" type="text" name="TotLen Bwd Pkts" required>
                </div>
    
                <div class="form-group">
                    <label for="Fwd Pkt Len Max">Forward Packet Length Max:</label>
                    <input class="form-control" type="text" name="Fwd Pkt Len Max" required>
                </div>
    
                <div class="form-group">
                    <label for="Fwd Pkt Len Min">Forward Packet Length Min:</label>
                    <input class="form-control" type="text" name="Fwd Pkt Len Min" required>
                </div>
    
                <div class="form-group">
                    <label for="Fwd Pkt Len Mean">Forward Packet Length Mean:</label>
                    <input class="form-control" type="text" name="Fwd Pkt Len Mean" required>
                </div>
    
                <div class="form-group">
                    <label for="Fwd Pkt Len Std">Forward Packet Length Std:</label>
                    <input class="form-control" type="text" name="Fwd Pkt Len Std" required>
                </div>
    
                <div class="form-group">
                    <label for="Bwd Pkt Len Max">Backward Packet Length Max:</label>
                    <input class="form-control" type="text" name="Bwd Pkt Len Max" required>
                </div>
    
                <div class="form-group">
                    <label for="Bwd Pkt Len Min">Backward Packet Length Min:</label>
                    <input class="form-control" type="text" name="Bwd Pkt Len Min" required>
                </div>
    
                <div class="form-group">
                    <label for="Bwd Pkt Len Mean">Backward Packet Length Mean:</label>
                    <input class="form-control" type="text" name="Bwd Pkt Len Mean" required>
                </div>
    
                <div class="form-group">
                    <label for="Bwd Pkt Len Std">Backward Packet Length Std:</label>
                    <input class="form-control" type="text" name="Bwd Pkt Len Std" required>
                </div>
    
                <div class="form-group">
                    <label for="Flow Byts/s">Flow Bytes per Second:</label>
                    <input class="form-control" type="text" name="Flow Byts/s" required>
                </div>
    
                <div class="form-group">
                    <label for="Flow Pkts/s">Flow Packets per Second:</label>
                    <input class="form-control" type="text" name="Flow Pkts/s" required>
                </div>
    
                <div class="form-group">
                    <label for="Flow IAT Mean">Flow Inter-Arrival Time Mean:</label>
                    <input class="form-control" type="text" name="Flow IAT Mean" required>
                </div>
    
                <div class="form-group">
                    <label for="Flow IAT Std">Flow Inter-Arrival Time Std:</label>
                    <input class="form-control" type="text" name="Flow IAT Std" required>
                </div>
    
                <div class="form-group">
                    <label for="Flow IAT Max">Flow Inter-Arrival Time Max:</label>
                    <input class="form-control" type="text" name="Flow IAT Max" required>
                </div>
    
                <button class="btn btn-custom mt-3" type="submit">Predict</button>
            </form>
        </div>
</center>
    </div>
  </section>

  <!-- end about section -->

 

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2025 All Rights Reserved By
      <a href="https://html.design/">Intrusion Detection</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- owl carousel script 
    -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 0,
      navText: [],
      center: true,
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        1000: {
          items: 3
        }
      }
    });
  </script>
  <!-- end owl carousel script -->
</body>

</html>


